<!--
Oregon State University
Authors: Jarrod Saechao and James Lee
Course: CS 340
Group: 116
Assignment: Project Step 3 Draft 
Due Date: 2022-10-27
Description: Home Page
-->

<!-- TODO: Create links to other pages and descriptions of each page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <header>
        <h1>Fitness Management System</h1>
        <h2>Home</h2>
    </header>
    <nav>
        <a href="./">Home</a> | 
        <a href="./trainers">Trainers</a> | 
        <a href="./clients">Clients</a> | 
        <a href="./workoutsessions">Workout Sessions</a> | 
        <a href="./sales">Sales</a> | 
        <a href="./payments">Payments</a>
    </nav>
    <div>
        <h2>Summary of Pages</h2>
        <p>
            <ul>
                <li>
                    <h3><a href="./">Home</a></h3>
                    <ul>
                        <li>Provides summary information for each page.</li>
                    </ul>
                </li>
                <li>
                    <h3><a href="./trainers">Trainers</a></h3>
                    <ul>
                        <li>List and filter fitness center trainers.</li>
                        <li>Add, edit, and delete trainers from database.</li>
                    </ul>
                </li>
                <li>
                    <h3><a href="./clients">Clients</a></h3>
                    <ul>
                        <li>List and filter fitness center clients.</li>
                        <li>Add, edit, and delete clients from database.</li>
                        <li>Also shows membership data from Membership table</li>
                    </ul>
                </li>
                <li>
                    <h3><a href="./workoutsessions">Workout Sessions</a></h3>
                    <ul>
                        <li>List and filter fitness center workout sessions.</li>
                        <li>Add, edit, and delete workout sessions from databse.</li>
                    </ul>
                </li>
                <li>
                    <h3><a href="./sales">Sales</a></h3>
                    <ul>
                        <li>List and filter sales invoices.</li>
                        <li>Add, edit, and delete sales invoices from database.</li>
                    </ul>
                </li>
                <li>
                    <h3><a href="./payments">Payments</a></h3>
                    <ul>
                        <li>List and filter fitness center payments.</li>
                        <li>Add, edit, and delete payments from database.</li>
                    </ul>
                </li>
            </ul>
        </p>
    </div>
    <footer>Fitness Management System &copy; 2022 Jarrod Saechao and James Lee</footer>
</body>
</html>